{% extends 'layout.html' %}

{% block title %}Buy{% endblock title %}

{% block main %}

<h1 style="padding-bottom: 1rem;">Buy shares</h1>

<form action="/buy" method="POST" class="needs-validation" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" name="symbol" placeholder="Symbol" required>
    </div>
    <div class="form-group">
      <input type="number"
        class="form-control" name="shares" placeholder="Amount of shares to buy" min="1" required>
    </div>
    <button type="submit" class="btn btn-primary">Buy</button>
</form>

<script>
// https://getbootstrap.com/docs/4.1/components/forms/#validation

// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
    // 'use strict';
    window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
        }, false);
    });
    }, false);
})();
</script>

{% endblock main %}