{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form action="/register" method="post" class="needs-validation" novalidate>
    <div class="form-group">
        <div class="alert alert-warning" style="display: none;" id="name_alert" role="alert">That username is not available!</div>
        <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text"
            required>
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password" required>
    </div>
    <div class="form-group">
        <input class="form-control" name="confirmation" placeholder="Confirm your password" type="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
<script src="/static/check.js"></script>
<script src="/static/validate.js"></script>
{% endblock %}